# Videos #
##########

*.mp4
*.avi


# Images #
##########

*.jpg
*.png



# Files for transfer #
######################

*.zip
Transfer


# Calibration Images #
######################

calibration_images





# Other folders #
#################

venv
.idea
__pycache__
Minecraft